/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    background-color: var(--color-main);
}
p, ul, ol, h1, h2, h3, address{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}
a,abbr{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
}

/*theme*/
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
:root{
    --color-default-global: #a75984;
    --color-primary: #402B8C;
    --color-secondary: #453877;
    --color-main: #DFE3EE;
}
header h1, section h2{
    line-height: 6.5rem;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);
    margin-bottom: 2rem;
    font-weight: 300;
    text-shadow: .1rem .1rem 0 var(--color-default-global);
    transition:600ms;
}
header h1:hover {
    color: var(--color-default-global);
}
header h1 .material-icons{
    display: none;
    cursor: pointer;
}
section h2{
    top:0;
    position:sticky;
}
nav ul{
    max-width: 80rem;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 2rem;
}
nav ul li{
    display: inline-block;
    line-height: 4.5rem;
    font-size: 1.6rem;
    width: calc(100% / 6);
    text-align: center;
}
nav ul li a{
    display: block;
    transition: all 500ms ease-in-out;
}
nav ul li a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
nav ul li:hover a{
    background-color: var(--color-primary);
    color: #fff;
    transition: transform .3s ease;
}

section ul li {
    white-space: pre-line
}
section ul li img {
    max-width: 50rem;
    max-height: 25rem;
}
.aside{
    background: linear-gradient(rgb(209 14 158 / 30%),transparent), url(../asset/retro_background.gif) no-repeat scroll center center / cover;
    min-height: 50vh;
    max-width: 120rem;
    margin: 0 auto 2rem;
    box-shadow: 0 0 1.0rem #333 ;
    display: grid;
    align-items: center;

}
.aside h2{
    text-align: center;
    font-size: 10.0rem;
    color: #fff;
    text-shadow: .8rem .8rem 0 #333333, 1.1rem 1.1rem 0 #fafafa;
}
section h2{
    text-align: left;
    margin-bottom: 0.3rem;
    padding: 1rem;
    line-height: 4.5rem;
}
main,footer{
    max-width: 120.0rem;
    margin: auto;
    background-color: var(--color-main);
    box-shadow: 0 0 1.0rem #333 ;
}
section ul, section ul li p{
    line-height: 2.6rem;
    padding: 1rem;
    text-align: center;
    display: grid;
    gap: 5rem;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
}
section ul li h3 {
    border: solid 0.2rem var(--color-primary);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--color-primary);
    color: var(--color-main);
    box-shadow: rgba(36, 35, 35, 0.1) 0rem 1rem 3rem;
}
.pp img {
    max-width: 50rem;
    max-height: 25rem;
    border-radius: 50%;
    border: solid .3rem var(--color-primary);
}
figcaption {
    padding: 3rem;
}
main section figure figcaption {
    text-align: center;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8rem;
}
main section figure figcaption img {
    max-width: 15rem;
    vertical-align: middle;
    transition: transform .2s;
}
main section figure figcaption img:hover {
    transform: scale(1.1);
}

footer{
    background: none;
    background-color: var(--color-primary);
    margin-top:2rem;
}
footer ul li{
    text-align: center;
    color: #fff;
    font-size: small;
}
footer address ul{
    padding: 1rem;
}
.history{
    transition-duration: 0.5s;
}
.history:target{
    background-color: var(--color-secondary);
    color: #fff;
}
.history:target h2{
    color: #fff;
}

/* responsive */
@media screen and (max-width: 90rem){
    header h1{
        font-size:2rem;
        margin-bottom: .1rem;
    }
    header h1 .material-icons{
        display: inline-block;
    }
    section h2{
        font-size: 2rem;
    }
    section ul li {
        white-space: pre-line
    }
    section ul li img {
        max-width: 50rem;
        max-height: 25rem;
    }
    header h1 span{
        vertical-align: middle;
    }
    /* menu of */
    nav{
        position: relative;
        z-index: -1;
        height: 0;
        margin-bottom: 1rem;
        transition: all 500ms ease-in-out;
        
    }
    /* menu on */
    .open-menu{
        z-index: 1;
        height: 27.5rem;
    }
    
    nav ul{
        width: auto;
        margin: 0;
        display: block;
       
    }
    nav ul li{
        display: list-item;
        width: auto;
        text-align: left;
       
        
    }
    nav ul li a{
        padding-left: 1rem;
    }
    /* change index */
    .aside{
        position: relative;
        width: auto;
        margin: 0 1%;
        z-index: 2;
    }
    .aside h2{
        text-shadow: none;
        display: none;
    }
    main{
        margin: 0 1%;
    }

}

@media screen and (orientation: landscape){
    nav ul{
        margin: 0 auto 2rem;
       
    }
    nav ul li{
        width: calc(100% / 6);
    }
    
}